<html>
<head>
<title>Renewable Energy Generation Scenario Builder</title>

<script>
    initialize=0
    initialTableSelectionPerformed=false
    var static_url="{{STATIC_URL}}"
    reporting_units_label_singular="county"
    reporting_units_label_plural="counties"
</script>

<!-- A Dictionary containing Image Overlay Name to Data Basin ID Lookup for the Data Basin link-->
<script src="{{STATIC_URL}}Leaflet/my_leaflet/data_basin_id_dictionary.js"></script>

<!-- Config -->
<script src="{{STATIC_URL}}js/config.js"></script>

<!-- Leaflet -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!-- ESRI Leaflet -->
<script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

<!-- Leaflet.draw -->
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.css" />

<!-- leaflet.grouped-layer-control-->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.css" />
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.js"></script>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

<!-- Omnivore -->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<!-- Jquery-->
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<!-- tabs -->
<script src="{{STATIC_URL}}deps/js/tabcontent.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}deps/css/tabcontent.css" rel="stylesheet" type="text/css" />

<!-- Highcharts -->
<!-- Latest Stable Version v4.1.5 as of 5/6/2015. Latest version at http://code.highcharts.com/highcharts.js -->
<script type='text/javascript' src="http://code.highcharts.com/4.1.5/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Messi -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/css/messi.css" />
<script src="{{STATIC_URL}}deps/js/messi.js"></script>

<!-- My Charts -->
<script src="{{STATIC_URL}}Highcharts/point_chart.js"></script>
<script src="{{STATIC_URL}}Highcharts/box_plot.js"></script>
<script src="{{STATIC_URL}}Highcharts/column_chart.js"></script>

<!-- My CSS -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">

<!-- My JS -->
<script src="{{STATIC_URL}}js/general_js.js"></script>

<!-- JQuery Slider -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>

    showChartOnMapSelect="PointChart"
    var initialize={{initialize}}
    var template="{{template}}"
    var count="{{count}}"
    var center_lat={{initial_lat}}
    var center_lon={{initial_lon}}
    var zoomLevel={{zoomLevel}}
    var last_poly="{{WKT_SelectedPolys}}"
    var selection_area_poly="{{WKT_SearchArea}}"
    var last_reporting_units="{{reporting_units}}"
    var selectedChartVariable="{{selectedChartVariable}}"
    columnChartColors="{{columnChartColors}}"

    //For searches performed without a reporting unit selected
    if (typeof user_wkt == 'undefined' ) {
        user_wkt="POLYGON((-118.85 32.58,-118.850 37.317,-114.071 37.31,-114.07 32.58, -118.85 32.58))"
    }

</script>

</head>

<body onload="acquireNearTermClimate();">

<div id="header">
    <div id="title">Renewable Energy Generation <span style="color:white"></span><br>
      <span id="sub_title">Scenario Builder </span>
    </div>
    <div style="float:left; z-index:-99"><img id="leftImage" src="{{STATIC_URL}}img/power_lines_fade_l1.png"></div>
    <div style="color:white; z-index:9999; float:right; font-size:13px; position:absolute; top:75px; right:25px">BETA 0.16</div>
</div>

<span id="DataBasinLinkBox">
    <ul id="mainNav">
        <li> <img id="DataBasinLogo" src="{{STATIC_URL}}img/dataBasinLogo-trans.png"> <ul></li>
            <li><a target="_blank" href="http://drecp.databasin.org/">&nbsp CA Gateway </a></li>
            <li style="border-bottom-left-radius:7px;"><a target="_blank" href="http://drecp.databasin.org/galleries/">&nbsp CA Data</a></li>
        </ul>
    </ul>
</span>

<div id="map_and_charts_container">

    <div id="map"></div>

    <div title="Adjust the opacity of this layer" id='control' class='ui-opacity'>
      <div id='handle' class='handle'></div>
    </div>

    <!-- needs to go below the map and the opacity handle -->
    <script src="{{STATIC_URL}}Leaflet/my_leaflet/leaflet_map.js"></script>
    <!--

    <div id="initialization_container">
        <div id="calloutbox" class="callout right">
            <span id="textInsideCallout"><p>3. Results will Appear Here<br><br><br> <img style="width:200px" src="{{STATIC_URL}}img/chart3.png">
                <span id="initialization_wait"><img id="initialization_loader_image" src='{{STATIC_URL}}img/loader3.gif'></span>
            </span>
        </div>
    </div>
    -->

    <div id="tab_container">
        <ul class="tabs" data-persist="true">
            <!--<li><a href="#view1" onclick="activateMapForDefault();">2. Define Search Criteria</a></li>-->
            <li><a href="#view1">2. Define Search Criteria</a></li>
            <li><a href="#view3"><img src="{{STATIC_URL}}img/info.png"> About</a></li>
            <!--
            <li><a href="#view2">Search Area</a></li>
            <li><a href="#view4" onclick="activateMapForClimateForecast()" >Near-Term Forecast</a></li>
            -->
        </ul>

        <div class="tabcontents">

            <div class="wait">
                <div class="loading_contents">
                    <img class="loading_image" src='{{STATIC_URL}}img/loader_circular.gif'><br>
                    <div class="loading_text"><br>&nbsp Processing Request...</div>
                    <p>
                    <button type="button" class="stop my-button my-button-cancel" id="my-cancel">Cancel</button>
                    <div id="areaWarning">Large search areas may take up to a minute to process. Push the cancel button at any time to cancel the request.</div>
                    <script>
                    $(".stop").click(function(){ jqXHR.abort(); });
                    </script>
                </div>
            </div>

            <div id="view1">
                 <form action=javascript:aspatial_query()>

                    <div style="line-height:25px; background-color:#E2E2E2; padding-left:5px"> <h3>General Requirements</h3></div>

                    <table border="1" id="general_table1">
                     <tr>
                         <td><b>Energy Source</b></td>
                         <td>
                             <select name="energy_source" style="width:161">
                                 <option value="solar">Solar</option>
                                 <option value="wind">Wind</option>
                                 <option value="geothermal">Geothermal</option>
                             </select>
                         </td>
                     </tr>
                     <tr>
                        <td colpan="1">
                         <p>
                             <label for="amount_solar"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;solar&quot;);swapLegend(&quot;solar&quot;,&quot;solar&quot;,&quot;EEMSmodel&quot;)'>Minimum Solar Resource Potential</span>
                             </label>
                         </td>
                         <td>
                                 <input type="text" id="amount_solar_label" readonly style="border:0; color:#f6931f; font-weight:bold; left:5px">
                                 <img class="map_icon" style="top:-5px" title="Click to Map" onclick='swapImageOverlay(&quot;solar&quot;);swapLegend(&quot;solar&quot;,&quot;solar&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">
                             <!-- <input type="text" id="amount_ti" readonly style="border:0; color:#f6931f; font-weight:bold;"> -->
                         </p>

                         <div id="slider-range-max_solar"></div>
                         </td>
                     </tr>
                     <tr>
                        <td><b>Megawatt Target &nbsp</b></td>
                        <td><input size="5" name="mw_target" value="0" type="text"> Megawatts </td>
                     </tr>
                      <tr>
                        <td style="white-space:nowrap; width:180px"><b>Minimum Area Needed</b></td><td><input size="7" id="min_area" name="min_area" value="0" type="text">
                          <select name="min_area_units" id="min_area_units">
                              <option value="acres" selected>Acres</option>
                              <option value="hectares">Hectares</option>
                              <option value="square_km">Square km</option>
                              <option value="square_mi">Square miles</option>
                              <option value="square_meters">Square meters</option>
                              <option value="square_feet">Square feet</option>
                          </select>
                        </td>
                      </tr>
                     <tr>
                         <td><b>Minimum Parcel Size</b></td><td><input size="7" name="min_parcel_size" value="0" type="text"> <select><option>Acres</option><option>Hectares</option><option>Square km</option><option>Square miles<option>Square meters</option><option>Square feet</option></select></td>
                     </tr>
                     <tr>
                        <td><b>Distance to Existing Transmission &nbsp</b></td><td><input size="7" name="distance_to_transmission" value="0" type="text"> <select><option>Miles</option><option>Yards</option><option>Feet</option><option>Km</option><option>Meters</option></select></td>
                     </tr>
                    </table>

                     <!--
                    <p>
                        <table>
                            <th>Planning Designation</th>
                            <tr>
                                <td><input name="ownership" type="checkbox">Development Focus Areas (DFAs)</td>
                            </tr>
                            <tr>
                                <td><input name="zoning" type="checkbox">Alternative Specific Reserve Design</td>
                            </tr>
                            </tr>
                        </table>
                     -->

                    <p>

                    <img class="map_icon" style="right:38px; top:27px" title="Click to Map" onclick='swapImageOverlay(&quot;ownership&quot;);swapLegend(&quot;ownership&quot;,&quot;ownership&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">

                    <table id="general_table2">
                        <th colspan="2"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;ownership&quot;);swapLegend(&quot;ownership&quot;,&quot;ownership&quot;,&quot;EEMSmodel&quot;)'>Ownership</span><br></th>
                        <tr>
                            <td><input name="ownership" class="ownership" value="Private" type="checkbox">Private</td>
                            <td><input name="ownership" class="ownership" value="USFS" type="checkbox">USFS</td>
                            <td><input name="ownership" class="ownership" value="Military" type="checkbox">Military</td>
                        </tr>
                        <tr>
                            <td><input name="ownership" class="ownership" value="BLM" type="checkbox">BLM</td>
                            <td><input name="ownership" class="ownership" value="BLM,State Land,USFS,Other" type="checkbox">All Public</td>
                            <td><input name="ownership" class="ownership" value="State Land" type="checkbox">State</td>
                        </tr>
                    </table>

                    <div style="line-height:25px; background-color:#E2E2E2; padding-left:5px"> <h3>Environmental Settings</h3></div>

                    <p>
                     <table id="sliderTable">
                     <th colspan="2">Maximum Allowable Values<br><br></th>
                         <tr>
                             <td>
                                 <p>
                                     <label for="amount_ti"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;intactness&quot;);swapLegend(&quot;intactness&quot;,&quot;intactness&quot;,&quot;EEMSmodel&quot;)'>Terrestrial Intactness:</span>
                                     <input type="text" id="amount_ti_label" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                     </label>
                                     <!-- <input type="text" id="amount_ti" readonly style="border:0; color:#f6931f; font-weight:bold;"> -->
                                 </p>
                                    <div class="slider_bars" id="slider-range-max_ti"></div>
                             </td>
                             <td>
                                 <img class="map_icon" title="Click to Map" onclick='swapImageOverlay(&quot;intactness&quot;);swapLegend(&quot;intactness&quot;,&quot;intactness&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <p>
                                     <label for="amount_cv"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;conservation_values&quot;);swapLegend(&quot;conservation_values&quot;,&quot;conservation_values&quot;,&quot;EEMSmodel&quot;)'>Conservation Value:</span></label>
                                     <input type="text" id="amount_cv_label" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                     <!--<input type="text" id="amount_cv" readonly style="border:0; color:#f6931f; font-weight:bold;">-->
                                 </p>

                                 <div class="slider_bars" id="slider-range-max_cv"></div>

                             </td>
                             <td>
                                <img class="map_icon" title="Click to Map" onclick='swapImageOverlay(&quot;conservation_values&quot;);swapLegend(&quot;conservation_values&quot;,&quot;conservation_values&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <p>
                                     <label for="amount_species_count"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;species_count&quot;);swapLegend(&quot;species_count&quot;,&quot;species_count&quot;,&quot;EEMSmodel&quot;)'>Number of Covered Species:</label>
                                     <input type="text" id="amount_species_count" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                 </p>

                                 <div class="slider_bars" id="slider-range-max_species_count"></div>

                             </td>
                             <td>
                                 <img class="map_icon" title="Click to Map" onclick='swapImageOverlay(&quot;species_count&quot;);swapLegend(&quot;species_count&quot;,&quot;species_count&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">
                             </td>
                         </tr>
                     <!--
                     <tr>
                         <td>
                             <p>
                                 <label for="amount_corridor_avoidance">Corridor Condition:</label>
                                 <input type="text" id="amount_corridor_avoidance_label" readonly style="border:0; color:#f6931f; font-weight:bold;">
                             </p>

                             <div id="slider-range-max_corridor_avoidance"></div>

                         </td>
                     </tr>
                     -->
                     <tr>
                         <td>
                             <p>
                                 <label for="amount_chat"><span class="imageOverlayLink" title="Click to Map" onclick='swapImageOverlay(&quot;chat&quot;);swapLegend(&quot;chat&quot;,&quot;chat&quot;,&quot;EEMSmodel&quot;)'>Western Gov CHAT Score:</span></label>
                                 <input type="text" id="amount_chat_label" readonly style="border:0; color:#f6931f; font-weight:bold;">
                             </p>

                             <div class="slider_bars" id="slider-range-max_chat"></div>

                         </td>
                         <td>
                             <img class="map_icon" title="Click to Map" onclick='swapImageOverlay(&quot;chat&quot;);swapLegend(&quot;chat&quot;,&quot;chat&quot;,&quot;EEMSmodel&quot;)' src="{{STATIC_URL}}img/map_icon.png">
                         </td>
                     </tr>
                     <!--
                     <tr>
                         <td>
                             <p>
                                 <label for="amount_cdfw_aceII">CDFW Ace II Score:</label>
                                 <input type="text" id="amount_cdfw_aceII_label" readonly style="border:0; color:#f6931f; font-weight:bold;">
                             </p>

                             <div id="slider-range-max_cdfw_aceII"></div>

                         </td>
                     </tr>
                     -->
                     </table>

                    <p>


                    <input style="float:right; position:relative; right:33px; cursor:pointer" type="submit" value="Search" class="my-button my-button-ok" id="my-ok"  onClick="create_post(user_wkt,reporting_units)">

                </form>



            </div>

            <!--
            <div id="view2"></div>
            -->

            <div id="view3">

                <h3>Summary:</h3>
                   The Renewable Energy Generation <b>Scenario Builder</b> is a web mapping application being developed by CBI to assist with the planning process for renewable energy development projects. The overarching goal is to help identify areas that are suitable for renewable energy development in places where the impact to sensitive habitat is minimized. For example, the tool could be used to locate BLM parcels with a high solar resource potential, in areas that have already been substantially affected by human impacts such as agriculture, urban development, and natural resource extraction (low terrestrial intactness), while at the same time avoiding areas of high species diversity and linkage quality (high conservation value). These low-conflict zones are identified through a user-friendly interface consisting of slider-bars, checkboxes, dropdown menus, and text fields.

                <h3>Instructions for Use: </h3>

               <ol>
                    <li>Define a search area by selecting from one of the ecological or administrative boundaries provided in the upper left hand side of the map. Selecting "<i>User Defined</i>" will allow you to define an arbitrary area of interest.</li>
                    <li>Select a feature (polygon) or set of features (polygons) using the selection tools provided, or simply click on a feature of interest.</li>
                    <li>Specify your search criteria using the slider bars and input fields on the right hand side of the screen</li>
                    <li>Click the search button to identify areas meeting your criteria.</li>
               </ol>

            </div>

            <div id="view4">
                <div class="nearTermClimateFormDiv">

                    <h3>Climate Division <span id="climateDivision"></span></h3>

                    <!-- Table 1: Headers (Time Frame, Temperature, Precipitation -->
                    <table class="dynamicNearTermClimateTable" style="box-shadow: 1px 1px 4px black">
                        <tr><th>Time Frame</th><th>Temperature</th><th>Precipitation</th></tr>
                    </table>

                    <!-- Start and Stop Buttons -->
                    <a href="#" id="start" title="Click to automatically cycle through the time steps"><button id="startDiv"></button></a>
                    <a href="#" id="stop" title="Click to stop"><button id="stopDiv"></button></a>

                    <br>

                    <!-- Radio buttons generated dynamically based on dates in the text file -->
                    <form class="nearTermClimateForm" > </form>

                    <!--Thermometer-->
                    <div style="float:left; position:relative; z-index:9999; width:20%; height:200px; vertical-align:top">
                        <div class="thermometer">
                            <span style="position:relative; top:4px; left:-11px; font-size:11px;color:#444444"><b>&ndash;</b> Historical Mean <b>&ndash;</b></span>
                            <span id="thermometerAfter"></span>
                        </div>
                        <!--
                        <div id="thermometerText">
                            <span id="thermometerDegreeChange">20</span> <br><span style="color:#6F6F6F; font-size:12px; white-space:nowrap">From historical<br>average (mean)</span>
                        </div>
                        -->
                    </div>

                    <!--Rain Gauge -->
                    <div style="float:left; position:relative; z-index:9999; width:20%; height:200px; vertical-align:top">
                        <div class="rainGauge">
                            <div class="triangleTop"></div>
                            <span id="rainGaugeAfter"></span>
                        </div>
                    </div>

                </div>

                <!-- Table 2: Change values & "Show on Map Radio Buttons" Table -->
                <form id="nearTermMapForm">
                    <div id="nearTermClimateWrapper" style="clear:both">
                        <table class="dynamicNearTermClimateTable" style="box-shadow: 1px 1px 4px black" id="nearTermChangeTable">
                            <!-- The Show on Map Row needs to persist after after a feature click. Initialize, then save and append on click -->
                            <tr id="mapRadioRow" style="border-top:none"><td>Show on Map</td><td><input name='nearTermMapVariable' value='temp' type='radio' checked></td><td><input name='nearTermMapVariable' value='precip' type='radio'></td></tr>
                        </table>
                    </div>
                </form>


                <!-- Table 3: Details (Historical Mean, Forecast Mean, 90% Confidence Interval)-->
                <div id="nearTermClimateWrapper2" style="clear:both"></div>

                <script>

                    $(".nearTermClimateForm").change(function(){
                        //On Time Frame Change
                        selectedNearTermClimatePeriod=this.period.value
                        //Update Table
                        generateNearTermClimateResults(selectedNearTermClimatePeriod,selectedClimateDivision)
                        //Update Map
                        updateClimateDivisionSymbology()
                    });

                    $("#nearTermMapForm").change(function(){
                        //Update Map
                        updateClimateDivisionSymbology()
                        updateNearTermForecastLegend()
                    });

                </script>

                <!--
                <div style="clear:both">
                    <table class="dynamicNearTermClimateTable">
                        <tr><th>Show on Map </th></tr>
                    </table>

                    <br>

                    <form id="nearTermMapForm">
                        <input name="nearTermMapVariable" value="temp" type="radio">Temperature Change Forecast<br>
                        <input name="nearTermMapVariable" value="precip" type="radio">Precipitation Change Forecast
                    </form>

                </div>
                -->

                <div id="sources">
                    Reference: Barnston et al., 2000, Bull. Amer. Meteor. Soc. 81:1271-1279<br>
                    Source: <a href="http://www.cpc.ncep.noaa.gov/" target="_blank">http://www.cpc.ncep.noaa.gov/</a><br>
                    Data Updates: These data update automatically on the third Thursday of each month.
                </div>
                <br>
                <br>

            </div>

        </div>
    </div>
</div>

<div id="footer" class="no-print">
    <img src="{{STATIC_URL}}img/CBI_logo_sm.png"><span style="position:relative; bottom:6px"> &copy; 2015 <a href="http://consbio.org" target="_new">Conservation Biology Institute</a> | <a href="mailto:info@consbio.org">info@consbio.org</a></span>
</div>

</body>

<!-- Alertify -->
<script src="{{STATIC_URL}}deps/js/alertify.js-0.3.11/src/alertify.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/js/alertify.js-0.3.11/themes/alertify.core.css">
<!-- include a theme, can be included into the core instead of 2 separate files -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/js/alertify.js-0.3.11/themes/alertify.default.css">

</html>
